body{
    background-color: rgb(143, 218, 189);
}

#title{
    color:rgb(100, 66, 25);
    text-align: center;
    padding-bottom: 5px;
}

#subtitle{
    color:rgba(100, 66, 25, 0.705);
    text-align: center;
}
