/* color palette:
#1C110A: black
#E4D6A7: semi-white
#E9B44C: yellow
#50A2A7: blue
#9B2915: red 
*/


body {
    background-color:#50A2A7;
    color: #1C110A
}

#header {
    background-color: #E4D6A7 ;
    border: 2px solid #E9B44C;
    padding: 5px;
    margin: 5px;
}

#titleblock {
    border-right: 2px solid #E9B44C;
    padding-right: 5px;
}

#title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

#subtitle {
    color: #1c110acb;
    text-align: center;
}

#pfpic {
    height: 100px;
    width: 100px;
    border-radius: 40%;
}

#challenges {
    border: 2px solid #E9B44C;
}

#challengecode {
    color: #9B2915
}

#coltitle {
    color: #E9B44C;
}

#footer {
    padding-top: 10px;
    padding-bottom: 5px;
}

#socialpics {
    height: 50px;
    width: 50px;
    /*https://codepen.io/sosuke/pen/Pjoqqp to choose color*/
    filter: invert(17%) sepia(74%) saturate(1961%) hue-rotate(347deg) brightness(104%) contrast(98%);
}