body {
    background-color: rgb(143, 218, 189);
}

#header {
    background-color: #ffdcb0;
    border: 2px solid rgb(100, 66, 25);
    padding: 5px;
    margin: 5px;
}

#titleblock {
    border-right: 2px solid rgb(100, 66, 25);
    padding-right: 5px;
}

#title {
    color:rgb(100, 66, 25);
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

#subtitle {
    color:rgba(100, 66, 25, 0.705);
    text-align: center;
}

#pfpic {
    height: 100px;
    width: 100px;
    border-radius: 40%;
}

#socials {
    margin-bottom: 10px;
}

#socialpics {
    height: 50px;
    width: 50px;
    /*https://codepen.io/sosuke/pen/Pjoqqp to choose color*/
    filter: invert(95%) sepia(31%) saturate(3743%) hue-rotate(296deg) brightness(108%) contrast(138%);
}